/** ADD BMW CUSTOM FONT **/

@font-face {
    font-family: BMWTypeNextLatinTT;
    src:    url(/custom/fonts/woff/BMWTypeNextLatinTT-Regular.woff) format("woff"),
            url(/custom/fonts/woff2/BMWTypeNextLatin-Regular.woff2) format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: BMWTypeNextLatinTT;
    src:    url(/custom/fonts/woff/BMWTypeNextLatinTT-Bold.woff) format("woff"),
            url(/custom/fonts/woff2/BMWTypeNextLatin-Bold.woff2) format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: BMWTypeNextLatinTT;
    src:    url(/custom/fonts/woff/BMWTypeNextLatinTT-Thin.woff) format("woff"),
            url(/custom/fonts/woff2/BMWTypeNextLatin-Thin.woff2) format("woff2");
    font-weight: 100;
}
@font-face {
    font-family: BMWTypeNextLatinTT;
    src:    url(/custom/fonts/woff/BMWTypeNextLatinTT-Light.woff) format("woff"),
            url(/custom/fonts/woff2/BMWTypeNextLatin-Light.woff2) format("woff2");
    font-weight: 300;
}

/** CUSTOM STYLES FOR BYMYCAR FORMS **/

body {
    font-family: BMWTypeNextLatinTT;
    font-weight: 300;
    color: #262626;
}
a {
    font-weight: bold;
    color: #4d4d4d;
    text-decoration: none;
}

a:hover {
    color: #4d4d4d;
}

input,select {
    border-radius: 0 !important;
}

.legal {
    padding-left: 2rem;
    padding-right: 1.5rem;
    font-size: 12px;
    text-align: justify;
    color: #8e8e8e;
}
#legalBox1 {
    display: none;
}
button.btn.btn-primary.btm-bmw {
    color: white;
    background-color: #1c69d4;
    display: block;
    border-radius: 0;
    font-weight: bold;
}
.btn-bmw:hover {
    background-color: #0653b6;
}

.card.card-body {
    margin: 15px 0;
}

.send-form-alert {
    margin-top: 25px;
    max-width: 400px;
}

/** HEADINGS **/ 

h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    h1,h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
}

/** FORM INPUTS **/ 

.form-select{
    border: 1px solid #e6e6e6;
    color: #8e8e8e;
}
.form-select:focus{
    border: 1px solid #262626;
    box-shadow: none;
}

.form-control{
    border: 1px solid #e6e6e6;
}
.form-control:focus {
    border: 1px solid #262626;
    box-shadow: none;
}

.form-check-input {
    border-color: #e6e6e6;
    width: 1.2em;
    height: 1.2em;
}

.form-check-input:focus {
    border-color: #e6e6e6;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #1c69d4;
    border-color: #1c69d4;
}